<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        
        <canvas width="900" height="600" class="canvas" id="game">
            
        </canvas>
        <div id="hidden">
            <h1 id="Name">Enter Your Name Below To Save Your Score!</h1>
            <input type="text" name="name" id="nickname" spellcheck="false" autocomplete="off" required>
            <button type="submit" id="btn">Save</button>
            <div id="highholder">
                <button id="high" href='/scores' > <a href="/scores"> Show HighScores</a></button>
                <a href="/" class="restart2">Restart</a>
            </div>
            
        </div>
            
        
       
    </div>
    
    
    <script src="script.js" type="module"></script>
</body>
</html>